# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tqgnhkhcepvtfujvbnte.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxZ25oa2hjZXB2dGZ1anZibnRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1Njc3MzYsImV4cCI6MjEwMTE0MzczNn0.iNohT84xVH5z88FIT4jglf-dMURH1seHRPyvkMT9V5I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxZ25oa2hjZXB2dGZ1anZibnRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTU2NzczNiwiZXhwIjoyMTAxMTQzNzM2fQ.93lh-QwJH3bA8wpJE-mUMJ1h6S1xG5Xt6OG0eca3JPk

# PayHere Gateway Configuration
PAYHERE_MERCHANT_ID=4OVyveVsScC4JH5FKWHk163H9
PAYHERE_MERCHANT_SECRET=4p86qEpr4ky4OXHTWto1N24PZjYOeeDa74eU3o0KTgoQ
